<?xml version="1.0" encoding="utf-8"?>
  <msl>

    <!-- Specify all balances available for weighings. -->
    <equipment alias="MDE-demo" manufacturer="Mettler Toledo" model="TEST_BAL"/>
    <equipment alias="AX10005" manufacturer="Mettler Toledo" model="AX10005"/>
    <equipment alias="CCE605" manufacturer="Sartorius" model="CCE605"/>
    <equipment alias="AB204-S" manufacturer="Mettler Toledo" model="AB204-S"/>
    <equipment alias="AT106" manufacturer="Mettler Toledo" model="AT106"/>

    <!-- Specify equipment for ambient sensing. -->
    <equipment alias="Omega" manufacturer="OMEGA" model="iTHX-W"/>

    <!-- Specify the limits for ambient conditions to begin weighing. -->
    <min_temp units="C">18.1</min_temp>
    <max_temp units="C">30</max_temp>
    <min_rh units="%">30</min_rh>
    <max_rh units="%">70</max_rh>

    <!-- Specify the limits for changes in ambient conditions during weighing. -->
    <max_temp_change units="C">0.5</max_temp_change>
    <max_rh_change units="%">15</max_rh_change>

    <!-- Specify where to find acceptance limits for circular weighing data. -->
    <acceptance_criteria>
          <path>I:\MSL\Private\MAP\Equipment register\Balance register.xlsx</path>
          <sheet>AcceptanceCriteria</sheet>
    </acceptance_criteria>

    <!-- Specify all standard sets available for weighings. -->
    <standards>
          <MET16A>I:\MSL\Private\Mass\transfer\Balance Software\Sample Data\MET16A.set</MET16A>
          <MET16B>I:\MSL\Private\Mass\transfer\Balance Software\Sample Data\MET16B.set</MET16B>
    </standards>

    <!-- Specify the Equipment-Register Databases to load equipment records from. -->
    <registers>
      <register team="M&amp;P" user_defined="weighing_mode, stable_wait, unit, resolution">
          <path>I:\MSL\Private\MAP\Equipment register\Balance register.xlsx</path>
          <sheet>Balances</sheet>
      </register>

      <register team="M&amp;P">
          <path>I:\MSL\Private\MAP\Equipment register\Equipment register.xlsx</path>
          <sheet>Equipment</sheet>
      </register>
    </registers>

    <!-- Specify the Connections Databases to load connection records from. -->
    <connections>
      <connection>
        <path>I:\MSL\Private\MAP\Equipment register\Equipment register.xlsx</path>
        <sheet>LenovoX260</sheet>
      </connection>
    </connections>

  </msl>
